
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Imagen">
      <th mat-header-cell *matHeaderCellDef> Imagen </th>
      <td mat-cell *matCellDef="let element" > <img src="{{element.imageUrl}}"> </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Creación">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> 
      <div>
        <button>Eliminar</button>
      </div>  
      <div>
        <button>Modificar</button>
      </div> 
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

</div>
